@page "/donate"
@using VGT.Client.Blazor.Components

<PageTitle Title="Games Against COVID | Donate"></PageTitle>

<div class="donate-container">
    <img src="/images/DonationPic.JPG"/>
    <div class="donate-text">
        <h1>Donations</h1>
        <p><span class="indent"></span>Your donations are essential in order to be able to help those people who work on the front lines, aiding those who are infected with the Coronavirus (COVID-19). Those who work in hospitals and nursing homes around the country need our help, and donations like yours fuel the fight against the pandemic. In this case, all donations will go directly to sanitary and medical supplies for nursing homes in Miami-Dade County so that the elderly may continue to be protected and cared for by medical staff. The size of the donation doesn’t matter, as your contribution enables our society to take another step towards saving lives. You don’t even have to register to donate; this page is open to everyone. So thank you, thank you for your donations and thank you for participating in this event. We hope everyone has fun while we, separated together, make a difference in the world.</p>
    </div>
</div>

