@page "/"
@using VGT.Client.Blazor.Components

<PageTitle Title="Games Against COVID | Home"></PageTitle>

<div class="hero-image">
    <div class="hero-text">
        <h1>Games Against COVID</h1>
        <h1>In Your House!</h1>
        <h1>May 1st - May 3rd</h1>
        <div class="heroButtonContainer">
            <a href="/register"><div>Register</div></a>
            <a href="/donate"><div>Donate</div></a>
        </div>
    </div>
</div>

<div class="doingOurPartFromHomeContainer">
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AU2sCZpAzEo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="doingOurPartFromHomeText">
        <h1>Doing Our Part From Home</h1>
        <p><span class="indent"></span>Closed schools, closed shops, closed beaches, closed parks, closed arenas...everything is closed. The Coronavirus (COVID-19) has confined us to our homes, unable to live our lives the way humans otherwise would. But that does not mean that we should be on the sidelines, waiting for this crisis to come to an end.</p>
    </div>
</div>

