@page "/rules"
@using VGT.Client.Blazor.Components

<PageTitle Title="Games Against COVID | Rules"></PageTitle>

<PageHeader _Header="Tournament Rules" _ImageSrc="/images/amazing-grace-logo.png">This is the Tournament Rules page. When you click on each game, the page will show the ruleset of that particular game. It is important to be familiar with the rules before participating in the tournament. This information is SUBJECT TO CHANGE. If you have any additional questions concerning each game’s rules, feel free to email us at <a id="rulesMailLink" href="mailto:gamesagainstcovid@gmail.com">gamesagainstcovid@gmail.com</a>.</PageHeader>

<div class="game-displayer-container">
    <GameDisplayer _NameOfGame="Mario Kart 8" _PicturePath="/images/MarioKart8Box.jpg" _PagePath="/rules/gamerules/mario-kart-8">Rules</GameDisplayer>
    <GameDisplayer _NameOfGame="Rainbow Six Siege" _PicturePath="/images/RainbowSixSiege.jpg" _PagePath="/rules/gamerules/rainbow-six-siege">Rules</GameDisplayer>
    <GameDisplayer _NameOfGame="Minecraft" _PicturePath="/images/Minecraft.png" _PagePath="/rules/gamerules/minecraft">Rules</GameDisplayer>
    <GameDisplayer _NameOfGame="Clash Royale" _PicturePath="/images/clash-royale-logo.png" _PagePath="/rules/gamerules/clash-royale">Rules</GameDisplayer>
    <GameDisplayer _NameOfGame="COD Warzone" _PicturePath="/images/WarZone.jpg" _PagePath="/rules/gamerules/call-of-duty-warzone">Rules</GameDisplayer>
    <GameDisplayer _NameOfGame="NBA 2K 20" _PicturePath="/images/NBA-2K20.jpg" _PagePath="/rules/gamerules/nba-2k20">Rules</GameDisplayer>
    <GameDisplayer _NameOfGame="League of Legends" _PicturePath="/images/LOL.jpg" _PagePath="/rules/gamerules/league-of-legends">Rules</GameDisplayer>
    <GameDisplayer _NameOfGame="Super Smash Bros Ultimate" _PicturePath="/images/SSBU.jpg" _PagePath="/rules/gamerules/super-smash-bros-ultimate">Rules</GameDisplayer>
</div>

