@page "/tournament"
@using  VGT.Client.Blazor.Components

<PageTitle Title="Games Against COVID | Tournament"></PageTitle>

<PageHeader _Header="Tournaments" _ImageSrc="/images/TournamentPic.png">This is the Tournament page. When you click on each game, the page will show the bracket of the current tournament, and a livestream if there is a match going on.</PageHeader>

<div class="game-displayer-container">
    <GameDisplayer _NameOfGame="Mario Kart 8" _PicturePath="/images/MarioKart8Box.jpg" _PagePath="/tournament/mario-kart-8">Tournament</GameDisplayer>
    <GameDisplayer _NameOfGame="Rainbow Six Siege" _PicturePath="/images/RainbowSixSiege.jpg" _PagePath="/tournament/rainbow-six-siege">Tournament</GameDisplayer>
    <GameDisplayer _NameOfGame="Minecraft" _PicturePath="/images/Minecraft.png" _PagePath="/tournament/minecraft">Tournament</GameDisplayer>
    <GameDisplayer _NameOfGame="Clash Royale" _PicturePath="/images/clash-royale-logo.png" _PagePath="/tournament/clash-royale">Tournament</GameDisplayer>
    <GameDisplayer _NameOfGame="COD Warzone" _PicturePath="/images/WarZone.jpg" _PagePath="/tournament/call-of-duty-warzone">Tournament</GameDisplayer>
    <GameDisplayer _NameOfGame="NBA 2K 20" _PicturePath="/images/NBA-2K20.jpg" _PagePath="/tournament/nba-2k20">Tournament</GameDisplayer>
    <GameDisplayer _NameOfGame="League of Legends" _PicturePath="/images/LOL.jpg" _PagePath="/tournament/league-of-legends">Tournament</GameDisplayer>
    <GameDisplayer _NameOfGame="Super Smash Bros Ultimate" _PicturePath="/images/SSBU.jpg" _PagePath="/tournament/super-smash-bros-ultimate">Tournament</GameDisplayer>
</div>

