.game-displayer-div {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    height: auto;
    width: auto;
    border: 5px solid black;
    border-radius: 5%;
    padding: 25px;
    background-color: grey;
    margin: 50px;
}

.game-displayer-div:hover {
    background-color: darkgrey;
}

.game-displayer-picture {
    height: 100px;
    width: 100px;
}

.game-displayer-text {
    margin-left: 25px;
    color: black;
}

.game-displayer-anchor {
    display: block;
    width: auto;
    height: auto;
    text-decoration: none;
}