.game-displayer-div {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    height: 110px;
    width: 270px;
    border: 5px solid black;
    border-radius: 5%;
    padding: 25px;
    background-color: grey;
    margin: 50px;
}

.game-displayer-div:hover {
    background-color: darkgrey;
}

#game-displayer-picture {
    min-height: 100px;
    min-width: 100px;
    max-height: 100px;
    max-width: 100px;
}

.game-displayer-text {
    margin-left: 25px;
}

.game-displayer-text h2, .game-displayer-text h3 {
    color: black;
}

.game-displayer-anchor {
    display: block;
    width: auto;
    height: auto;
    text-decoration: none;
}