.page-header {
    display: flex;
    justify-content: center;
    margin: 50px 25%;
}
.page-header img {
    height: 200px;
    width: 200px;
    margin-right: 50px;
}

.page-header-text {
    display: flex;
    flex-direction: column;
}

.page-header-text h1 {
    margin-top: 5px;
    margin-bottom: 15px;
}
