.game-displayer-container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#rulesMailLink {
    text-decoration: none;
    color: black;
}

#rulesMailLink:hover{
    color: red;
}