<div class="about-us-member">
    <div class="about-us-member-photo">
        <img class="about-us-member-image" src=@_ImageSrc />
    </div>
    <div class="about-us-member-text">
        <h2>@_NameAndTitle</h2>
        <p><span class="indent"></span>@ChildContent</p>
    </div>
</div>



@code {
    [Parameter]
    public string _NameAndTitle { get; set; }

    [Parameter]
    public string _ImageSrc { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
